

/* wokiee theme*/

.element-padding-bottom {
    padding-bottom: 20px;
}

.img-sm {
    height: 100px;
    width: auto;
}

.img-xs {
    margin-right: 3px;
    margin-left: 3px;
    width: 25px;
}

.img-xxs {
    width : 12px;
}

.tt-logo img {
    max-height: 50px !important;
}

.img-event-btn {
    height : 200px !important;
}