/*@font-face {*/
    /*font-family: 'GE SS Unique';*/
    /*src: url('fonts/GE_SS_Unique_Light.ttf') format('truetype'),*/
    /*url('fonts/GE_SS_Unique_Light.otf') format('otf'),*/
    /*url('fonts/GE_SS_Unique_Light.eot'),*/
    /*url('fonts/GE_SS_Unique_Light.eot?#iefix') format('embedded-opentype'); !* Super Modern Browsers *!*/
    /*font-weight: bolder;*/
    /*font-style: normal;*/
/*}*/

/*body, div, a, span, table, p, form, input, h1, h2, h3, h4, input, tr, td, ul, li {*/
    /*font-family: 'GE SS Unique', 'sans-serif' !important;*/
/*}*/

@font-face {
    font-family: 'Tajawal';
    src: url('fonts/Tajawal-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}



body, div, a, span, table, p, form, input, h1, h2, h3, h4 , input , tr , td , ul , li {
    font-family: 'Tajawal', 'sans-serif' !important;
}

.main-menu nav ul li a::after {
    display: none;
}


.simpleLens-big-image-container, .simpleLens-lens-image{
    direction: ltr;
    /*float: right;*/
}
div.simpleLens-lens-element {
    left: -112%;
}

.button-plus {
    display: inline-block;
    position: relative;
    left: 92px;
    bottom: 7px;
}

.button-minus {
    display: inline-block;
    position: relative;
    left: 109px;
    bottom: 7px;
}

.label {
    color : #b7af15;
    font-size: large;
}


#preloader {
    position: fixed;
    z-index: 999999;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: white;
}